   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" dir="rtl">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" onclick="return gtag_report_conversion('tel:0544302559');" href="tel:0544302559">חייג 054-4302559</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="hidden">
                        <a href="tel:0544302559"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">ראשי</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#electric">חשמל</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#boiler">דודים</a>
                    </li>
                    <!--
                    <li class="page-scroll">
                        <a href="#air_condition">מיזוג אוויר</a>
                    </li>
                    -->
                    <!--
                    <li class="page-scroll">
                        <a href="#portfolio">פורטפוליו</a>
                    </li>
                    -->
                    <!--
                    <li class="page-scroll">
                        <a href="#about">עלינו</a>
                    </li>
                    -->
                    <li class="page-scroll">
                        <a href="#contact">צור קשר</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
